kinematic-model/data/raw/
kinematic-model/data/auto_labels/
kinematic-model/output/
kinematic-model/weights/
kinematic-model/runs/
__pycache__/
*.pt
kinematic-model/data/submissions/
kinematic-model/data/raw_parts/
*.joblib
